<app-prova></app-prova>

<!--EVENT BINDING-->
<!-- <button mat-raised-button color="primary" (click)="onClick(this)">Primary</button> -->
<!-- <form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Message</mat-label>
    <input matInput #message maxlength="256" placeholder="Ex. I need help with..." (input)="onInput($event)">
  </mat-form-field>
  <p>{{ title }}</p>
</form> -->

<!--2 WAY BINDING-->
<!-- <button mat-raised-button color="primary" (click)="onClick($event)">Primary</button>
<mat-form-field class="example-full-width" apparence="fill">
  <mat-label>Label</mat-label>
  <input matInput placeholder="Ex. Pizze" [(ngModel)]="title" />
</mat-form-field>
<p>{{ title }}</p> -->

<!--*NGIF-->
<!-- <p *ngIf="6>5">sono un paragrafo</p> -->
<!--IF ELSE BASICO-->
<!-- <p *ngIf="isVisible">è visibile</p>
<p *ngIf="!isVisible">non è visibile</p> -->
<!--IF ELSE COMPLICATO-->
<!--con else devo mettere ng-template-->
<!-- <p *ngIf="isVisible; else bloccoElse">sono visibile</p>
<ng-template #bloccoElse><p>non sono visibile</p></ng-template> -->
<!--IF ELSE CON THEN-->
<!-- <ng-template *ngIf="isVisible; then bloccoIf else bloccoElse2"></ng-template>
<ng-template #bloccoIf><p>sono visibile</p></ng-template>
<ng-template #bloccoElse2><p>non sono visibile</p></ng-template> -->

<!--*NGFOR-->
<!-- <ul>
  <li *ngFor="let persona of persone; index as i">
    <p *ngIf="i < 0">ciao</p>
    {{ i+1 }}) {{persona.nome}} - {{persona.cognome}}
    <div class="cerchio" *ngIf="persona.isOnline"></div>
    <div class="cerchio-offline" *ngIf="!persona.isOnline"></div>
  </li>
</ul> -->

<!--*NGSWITCH-->
<!-- <div [ngSwitch]="numero">
  <p *ngSwitchCase="1">uno</p>
  <p *ngSwitchCase="2">due</p>
  <p *ngSwitchCase="3">tre</p>
  <p *ngSwitchCase="'stringa'">4</p>
  <p *ngSwitchDefault>default</p>
</div> -->

<!--*NGSTYLE-->
<!-- <ul>
  <li *ngFor="let persona of persone">
    <div class="cerchio" [ngStyle]="{'background': persona.isOnline ? color : 'red'}"></div>
    <p>{{persona.nome}} - {{persona.cognome}}</p>
  </li>
</ul> -->

<!--*NGCLASS-->
<!-- <ul>
  <li *ngFor="let persona of persone; index as i">
    <div class="cerchio" [ngClass]="{'cerchio-online prova': persona.isOnline, 'cerchio-offline': !persona.isOnline}">i</div>
    <div class="cerchio" [ngClass]="persona.isOnline ? 'cerchio-online' : 'cerchio-offline'">i</div>
    <p>{{persona.nome}} - {{persona.cognome}}</p>
  </li>
</ul> -->

<!--PARENT TO CHILD-->
<!-- <app-prova [data]="persone"></app-prova>
<button (click)="onClick2()">cambia</button> -->

<!--CHILD TO PARENT-->
<!-- <app-prova (mandaDatiEvento)="onRiceviDati($event)"></app-prova> -->

<!--VARIABILE TEMPLATE-->
<!-- <input #inputSaluti value="ciao">
<button (click)="onClick3()">invia</button> -->

<!--DIRETTIVE-->
<!-- <h2>scegli colore</h2>
<div>
  <input type="radio" name="coloreEvid" (click)="cambiaColore('red')"> Rosso
  <input type="radio" name="coloreEvid" (click)="cambiaColore('pink')"> Rosa
  <input type="radio" name="coloreEvid" (click)="cambiaColore('purple')"> Viola
</div>
<p [appHighlight]="colore" defaultColor="blue">ciao sono un paragrafo</p> -->

<!--FUNZIONI PIPE-->
<!-- <p>ciao benvenuti al {{titolo | uppercase}}</p>
<p>{{oggi | date}}</p>
<p>{{oggi | date:'medium'}}</p>
<p>{{oggi | date:'shortTime'}}</p>
<p>{{oggi | date:'mm:ss'}}</p>
<p>{{number | number: '2.1-4'}}</p>
<p>{{number | percent: '2.1-4'}}</p>
<p>{{number | currency}}</p>
<p>{{number | currency:'EUR'}}</p> -->

<!--ROUTING-->
<!-- <a routerLink="">Home</a>
<a routerLink="about">About</a>
<a routerLink="contact">Contact</a>
<router-outlet></router-outlet> -->
